# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/ui/angular/dist
/ui/angular/tmp
/ui/angular/out-tsc

# dependencies
/node_modules
/ui/angular/node_modules

# IDEs and editors
/ui/angular/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/ui/angular/.sass-cache
/ui/angular/connect.lock
/ui/angular/coverage
/ui/angular/libpeerconnection.log
/ui/angular/npm-debug.log
/ui/angular/testem.log
/ui/angular/typings

# e2e
/ui/angular/e2e/*.js
/ui/angular/e2e/*.map

# System Files
/ui/angular/.DS_Store
/ui/angular/Thumbs.db
